.container{
    //height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    background-color: #73b1d8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.header{
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-weight: normal;
}

td {
    padding: 12px 15px;
}
/*
.table-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
*/
button.mat-icon-button {
    transition: transform 0.2s ease;
  }
  
  button.mat-icon-button:active {
    transform: scale(1.2);
  }


