
<mat-expansion-panel class="city-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ latnivalo.v_name }}
      </mat-panel-title>

      <mat-panel-description>
        <mat-icon
          class="heart-icon"
          (click)="togglekedvenc(latnivalo); $event.stopPropagation()"
          [color]="latnivalo.kedvenc ? 'warn' : ''">
          {{ latnivalo.kedvenc ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panel-content">
      <p><strong>Leírás:</strong> {{ latnivalo.leiras }}</p>
    </div>
  </mat-expansion-panel>


  