<div>
    <div class="container">
        <h1>Üdvözlünk a galériában!</h1>
        <p>Engedd meg hogy bemutassuk a Balaton legszebb városait!</p>
    </div>
    <div  class="container">
        <h2>Siófok:</h2>
        <div class="image-gallery">
            <img src="/images/siofok/siofok_viztorony.jpg" alt="Siófok víztorony">
            <img src="/images/siofok/siofok_plazs.jpg" alt="Siófok plázs">
            <img src="/images/siofok/siofok_nagystrand.webp" alt="Siófok siofk nagystrand">
        </div>  
    </div>
    <div class="container">
        <h2>Balatonföldvár:</h2>
        <div class="image-gallery">
            <img src="/images/balatonfoldvar/balatonfoldvar_latkep.jpg" alt="balatonfoldvar_latkep">
            <img src="/images/balatonfoldvar/balatonfoldvar_logo.jpg" alt="balatonfoldvar_logo">
            <img src="/images/balatonfoldvar/balatonfoldvar_mgas.jpeg" alt="balatonfoldvar_mgas">
        </div>
    </div>
    <div class="container">
        <h2>Balatonboglár:</h2>
        <div class="image-gallery">
            <img src="/images/balatonboglar/balatonboglar_felulrol.jpg" alt="Siófok víztorony">
            <img src="/images/balatonboglar/Balatonboglar_gombkilato.jpg" alt="Siófok plázs">
            <img src="/images/balatonboglar/balatonboglar-platanstrand.jpg" alt="Siófok  nagystrand">
        </div>
    </div>
</div>